<html>
    <head>
        <title>Tank control</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?{{ mtime }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap-slider/dist/css/bootstrap-slider.min.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    </head>
    <body>
        <div class="container">
            <div id="j_zone1" class="j_zone1 row text-center">
                <!-- <div id="battery" class="float-right col-sm">
                    7.5v 
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-battery-full fa-2x"></i>
                        <span class="fa-layers-text fa-inverse">100%</span>
                    </span>
                </div> -->
                <div class="col-1 text-left">
                    <input id="servo_y" data-slider-id='servoSliderY' type="text" data-slider-min="{{ servo.yMin }}" data-slider-max="{{ servo.yMax }}" data-slider-step="1" data-slider-value="470" data-slider-orientation="vertical" />
                </div>
                <div class="col-11">
                    {% if config.SEPARATE_STREAM_PROCESS %}
                        <img src="http://{{ config.SEPARATE_STREAM_HOST }}:{{ config.SEPARATE_STREAM_PORT }}/video_feed" class="img-fluid">
                    {% else %}
                        <img src="{{ url_for('video_feed') }}" class="img-fluid">
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <input id="servo_x" data-slider-id='servoSliderX' type="text" data-slider-min="{{ servo.xMin }}" data-slider-max="{{ servo.xMax }}" data-slider-step="1" data-slider-value="320"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div id="j_zone2" class="j_zone2">
                        <div id="div-xy" class="small"></div>
                        <h1>Move control</h1>
                    </div>
                </div>
                <div class="col-sm text-center">
                    <!-- <button type="botton" class="btn btn-primary">up</button><br>
                    <button type="botton" class="btn btn-primary">left</button>
                    <button type="botton" class="btn btn-primary">right</button><br>
                    <button type="botton" class="btn btn-primary">up</button><br> -->
                    <button id="btn-move-stop" type="button" class="btn btn-danger" title="Stop moving">
                        <i class="fas fa-stop-circle"></i>
                    </button><br>

                    <button id="btn-camera-stop" type="button" class="btn btn-primary" title="Camera on/off">
                        <i class="fas fa-video"></i>
                    </button> 

                    <button id="btn-camera-photo" type="button" class="btn btn-primary" title="Take photo">
                        <i class="fas fa-camera"></i>
                    </button><br>

                    <button id="btn-camera-center" type="button" class="btn btn-primary" title="Camera to center">
                        <i class="fas fa-angle-down"></i>
                    </button>

                    <!-- <button id="btn-servo-stop" type="button" class="btn btn-danger" title="Stop servo">
                        <i class="fas fa-stop-circle"></i>
                    </button><br> -->
                </div>
            </div>
        </div>

        <script>var socketNamespace = '{{ socket_namespace }}';</script>

        <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

        <script src="{{ url_for('static', filename='libs/nipplejs/dist/nipplejs.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libs/bootstrap-slider/dist/bootstrap-slider.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/camera_control.js') }}?{{ mtime }}"></script>
        <script src="{{ url_for('static', filename='js/robot_control.js') }}?{{ mtime }}"></script>
        <script src="{{ url_for('static', filename='js/servo_control.js') }}?{{ mtime }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}?{{ mtime }}"></script>
    </body>
</html>