body {
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* .battery {
    position: relative;
    display: block;
    top: 0;
    right: 0;
} */

.j_zone1 {
    /* height: 200px;
    display: block; */
}

.j_zone2 {
    position: relative;
    background: silver;
    box-sizing: content-box;
    height: 200px;
}