<html>
    <head>
        <title>Tank control</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    </head>
    <body>
        <div class="container">
            <div id="j_zone1" class="text-center" style="display: block;">
                <div id="battery" class="float-right">
                    7.5v 
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-battery-full fa-2x"></i>
                        <span class="fa-layers-text fa-inverse">100%</span>
                    </span>
                </div>
                <img src="{{ url_for('video_feed') }}" class="img-fluid">
            </div>
            <div class="row">
                <div class="col-sm">
                    <div id="j_zone2" class="j_zone2">
                        <div id="div-xy" class="small"></div>
                        <h1>Move control</h1>
                    </div>
                </div>
                <div class="col-sm text-center">
                    <!-- <button type="botton" class="btn btn-primary">up</button><br>
                    <button type="botton" class="btn btn-primary">left</button>
                    <button type="botton" class="btn btn-primary">right</button><br>
                    <button type="botton" class="btn btn-primary">up</button><br> -->
                    <button id="btn-move-stop" type="botton" class="btn btn-danger">stop</button><br>

                    <button id="btn-camera-stop" type="botton" class="btn btn-primary">camera off</button> 
                    <button id="btn-camera-photo" type="botton" class="btn btn-primary">take photo</button><br>
                </div>
            </div>
        </div>

        <script>var socketNamespace = '{{ socket_namespace }}';</script>

        <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

        <script src="{{ url_for('static', filename='libs/nipplejs/dist/nipplejs.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/camera_control.js') }}?{{ mtime }}"></script>
        <script src="{{ url_for('static', filename='js/robot_control.js') }}?{{ mtime }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}?{{ mtime }}"></script>
    </body>
</html>